<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>letter2</title>
    <style type="text/css">

    </style>
  </head>
  <body>

    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background: #f5f5f5; min-width: 320px; font-size: 1px; line-height: normal;">
      <tr>
        <td align="center" valign="top">
          <div style="height: 10px; line-height: 10px; font-size: 7px;">&nbsp;</div>
          <table cellpadding="0" cellspacing="0" border="0" width="600px" class="table600" style="max-width: 600px; min-width: 320px; background: #ffffff;">
            <tr>
              <td align="center" valign="top">

                <table cellpadding="0" cellspacing="0" border="0" width="90%" class="table530" style="max-width: 90%; min-width: 320px; background: #ffffff;">
                  <tr>
                    <td align="center" valign="top">

                      @@include("../blocks/modules/header/header.html")

                      <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#eef5ff" style="width: 100%; background: #eef5ff; min-width: 320px; border-radius: 15px;">
                        <tbody>
                          <tr>
                            <td width="30px" style="width: 30px; max-width: 30px; min-width: 30px;">&nbsp;</td>
                            <td>
                              <div style="height: 50px; line-height: 50px; font-size: 7px;">&nbsp;</div>
                              <span style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #2a416c; font-size: 18px; line-height: 18px; font-weight: 700; letter-spacing: 0.37px; -webkit-text-size-adjust: none;">Здравствуйте,&nbsp;<span>Иван</span>!</span>
                              <div style="height: 30px; line-height: 30px; font-size: 7px;">&nbsp;</div>
                              <span style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 16px; line-height: 28px; letter-spacing: 0.37px; -webkit-text-size-adjust: none;">Понравились эти товары? Правильный выбор! Ваши автозапчасти в корзине еще в наличии и ждут Вас.</span>
                              <div style="height: 25px; line-height: 25px; font-size: 7px;">&nbsp;</div>
                              <table cellpadding="0" cellspacing="0" border="0" width="210px" align="center" style="border-radius: 8px; background-color: #274277;">
                                <tr>
                                  <td width="20px" style="width: 20px; max-width: 20px; min-width: 20px; color: #274277;"><a href="https://zukaadev.ru" target="_blank" style="display: block; max-width: 20px; height:40px; color: #274277;">&nbsp;</a></td>
                                  <td>
                                    <a href="https://zukaadev.ru" target="_blank" style="display: block; max-width: 18px; min-width: 18px; height: 16px; min-height: 16px;">
                                      <img src="https://letters.zukaadev.ru/img/basket-icon.png" alt="иконка" border="0" width="18px" style="display: block; max-width: 100%; min-width: 18px; height: 16px; min-height: 16px;">
                                    </a>
                                  </td>
                                  <td width="15px" style="width: 15px; max-width: 15px; min-width: 15px; color: #274277;"><a href="https://zukaadev.ru" target="_blank" style="display: block; max-width: 15px; height:40px; color: #274277;">&nbsp;</a></td>
                                  <td>
                                    <a href="https://zukaadev.ru" target="_blank" style="display: block; width: 100%; height: 40px; font-family: Arial, Helvetica, Tahoma, sans-serif; color: #ffffff; font-size: 15px; letter-spacing: 0.35px; line-height: 40px; font-weight: 300; text-decoration: none;">
                                      <span style="display: block; width: 100%; height: 40px; font-family: Arial, Helvetica, Tahoma, sans-serif; color: #ffffff; font-size: 15px; letter-spacing: 0.35px; line-height: 40px; font-weight: 300; text-decoration: none;">Перейти&nbsp;в&nbsp;корзину</span>
                                    </a>
                                  </td>
                                  <td width="20px" style="width: 20px; max-width: 20px; min-width: 20px; color: #274277;"><a href="https://zukaadev.ru" target="_blank" style="display: block; max-width: 20px; height:40px; color: #274277;">&nbsp;</a></td>
                                </tr>
                              </table>
                              <div style="height: 20px; line-height: 20px; font-size: 7px;">&nbsp;</div>

                              <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                  <tr>
                                    <td height="91px" bgcolor="ffffff">
                                      <a href="https://zukaadev.ru" target="_blank" style="display: block; max-width: 91px;">
                                        <img src="https://letters.zukaadev.ru/img/img1.jpg" alt="товар" border="0" width="91px" style="display: block; width: 91px; max-width: 100%;">
                                      </a>
                                    </td>
                                    <td width="40px" style="width: 40px; max-width: 40px; min-width: 40px; color: #ffffff;">
                                      <a href="https://zukaadev.ru" target="_blank" style="display: block; max-width: 40px; height: 91px; color: #ffffff;">&nbsp;</a>
                                    </td>
                                    <td>
                                      <a href="https://zukaadev.ru" target="_blank" style="display: inline-block; font-family: Arial, Helvetica, Tahoma, sans-serif; color: #000000; font-size: 16px; line-height: 91px; text-decoration: none; letter-spacing: 0.37px;">
                                        <span style="display: inline-block; font-family: Arial, Helvetica, Tahoma, sans-serif; color: #000000; font-size: 16px; line-height: 91px; text-decoration: none; letter-spacing: 0.37px;">Отопитель Hydronic 35kw/24V</span>
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                              <div style="height: 10px; line-height: 10px; font-size: 7px;">&nbsp;</div>

                              <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                  <tr>
                                    <td height="91px" bgcolor="ffffff">
                                      <a href="https://zukaadev.ru" target="_blank" style="display: block; max-width: 91px;">
                                        <img src="https://letters.zukaadev.ru/img/img2.jpg" alt="товар" border="0" width="91px" style="display: block; width: 91px; max-width: 100%;">
                                      </a>
                                    </td>
                                    <td width="40px" style="width: 40px; max-width: 40px; min-width: 40px;">
                                      <a href="https://zukaadev.ru" target="_blank" style="display: block; max-width: 40px; height: 91px; color: #ffffff;">&nbsp;</a>
                                    </td>
                                    <td>
                                      <a href="https://zukaadev.ru" target="_blank" style="display: inline-block; font-family: Arial, Helvetica, Tahoma, sans-serif; color: #000000; font-size: 16px; line-height: 91px; text-decoration: none; letter-spacing: 0.37px;">
                                        <span style="display: inline-block; font-family: Arial, Helvetica, Tahoma, sans-serif; color: #000000; font-size: 16px; line-height: 91px; text-decoration: none; letter-spacing: 0.37px;">Цилиндр сцепления</span>
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                              <div style="height: 30px; line-height: 30px; font-size: 7px;">&nbsp;</div>
                              <span style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 16px; line-height: 28px; letter-spacing: 0.37px; -webkit-text-size-adjust: none;"><b>Номер Вашего заказа&nbsp;–&nbsp;<span>3333</span></b>. Введите этот номер в <a href="https://zukaadev.ru" target="_blank" style="display: inline-block; font-family: Arial, Helvetica, Tahoma, sans-serif; color: #274277; font-size: 16px; line-height: 28px; text-decoration: underline; letter-spacing: 0.37px;"><span style="display: inline-block; font-family: Arial, Helvetica, Tahoma, sans-serif; color: #274277; font-size: 16px; line-height: 28px; text-decoration: underline; letter-spacing: 0.37px;"><b>личном&nbsp;кабинете</b></span></a> и завершите покупку прямо сейчас.</span>
                              <div style="height: 30px; line-height: 30px; font-size: 7px;">&nbsp;</div>
                              <div style="height: 3px; line-height: 3px; font-size: 3px; background-color: #274277; color: #274277;">&nbsp;</div>
                              <div style="height: 40px; line-height: 40px; font-size: 7px;">&nbsp;</div>
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <span style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #000000; font-weight: 400; font-size: 15px; line-height: 19px; letter-spacing: 0.35px; -webkit-text-size-adjust: none;">С&nbsp;уважением, Ваш&nbsp;АвтоСити!</span>
                                      </td>
                                      <td width="219px" style="width: 219px; max-width: 219px; min-width: 219px;">&nbsp;</td>
                                      <td>
                                        <table cellpadding="0" cellspacing="0" border="0" width="150px">
                                          <tr>
                                            <td align="center" valign="middle" height="40" style="background:#eef5ff; border-radius: 10px; border: 1px solid #929aad; background-color: #eef5ff;">
                                              <a href="https://zukaadev.ru" target="_blank" style="display: block; width: 100%; height: 40px; font-family: Arial, Helvetica, Tahoma, sans-serif; color: #6d798d; font-size: 15px; line-height: 40px; text-decoration: none;">Обратная&nbsp;связь</a>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>

                              <div style="height: 50px; line-height: 50px; font-size: 7px;">&nbsp;</div>
                            </td>
                            <td width="30px" style="width: 30px; max-width: 30px; min-width: 30px;">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>

                      @@include("../blocks/modules/footer/footer.html")

                    </td>
                  </tr>
                </table>

              </td>
            </tr>
          </table>
          <div style="height: 10px; line-height: 10px; font-size: 7px;">&nbsp;</div>
        </td>
      </tr>
    </table>

  </body>
</html>
